{% extends 'base.html.twig' %}

{% block body %}
    <h1>DSGVO Datenauskunft</h1>

    <p>
        Es wurde eine Datenauskunft gemäß der EU-DSGVO angefordert.
    </p>

    <h2>Nutzerdaten</h2>
    <table>
        
    </table>
{% endblock %}

