{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passwort zurücksetzen</h1>

    <p>
        Es wurde eine Passwortwiederherstellung angefordert. Um diese abzuschließen, klicken Sie auf den Link.
        <br>
        <br>
        <a href="{{ absolute_url(path('reset_password_confirm', {token: user.token})) }}">Passwort zurücksetzen</a>
    </p>
{% endblock %}

